html, body {
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
  color: #d3d3d3ce;
  margin: 0;
  padding: 16px;
}

h1, h2 {
  color: white;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 40px;
  font-weight: 900;
}

h1, h2, div {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

/* CONTAINER SECTION: 
These add the width and the centering of every section */
.header,
.intro-container,
.picture-section-container,
.quote,
.call-to-action,
.footer {
  width: 71%;
  margin: auto;
}

/* HEADER AND INTRO SECTION */
.header-and-intro {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-container {
  display: flex;
  padding: 90px 0px;
  gap: 30px;
}

.intro-elements {
  display: flex;
  flex: 1 1 auto;
}

.intro-informational {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro-informational div {
  font-size: 18px;
  color: #ccced3;
}

.intro-img {
  height: 210px;
  width: 100%;
  margin: 0 16px 0 auto;
}

.intro-sign-up-button {
  background-color: #3882F6;
  color: white;
  font-size: 18px;
  width: 120px;
  height: 30px;
  border-radius: 8px;  
  border: 0px;
}

/* PICTURE SECTION */
.picture-section {
  padding: 40px 40px 100px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}

.picture-information {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937
}

.picture img {
  width: 140px;
  height: 140px;
  border: 5px;
  border: 3px solid rgba(21, 111, 255, 0.883);
  border-radius: 15px;
}

.pictures .picture div {
  width: 150px;
  padding-top: 5px;
  text-align: center;
}

/* QUOTE SECTION */
.quote-container {
  background-color: #E5E7EB;
}

.quote {
  display: flex;
  flex-direction: column;
  width: 700px;
  padding: 100px 60px 80px 60px; 

  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  color: #1F2937
}

.quoted-person {
  margin-left: auto;
  padding-right: 40px;
  font-size: 20px;
  font-weight: bold;
}

/* CALL-TO-ACTION SECTION */
.call-to-action-box {
  margin: 80px 0 80px 0;
  padding: 50px 0 50px 0;
  background-color: #3882F6;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px; 
}

.call-to-action .urge {
  font-size: 18px;
  font-weight: bold
}

.call-to-action .urge-subtext {
  color: #d0d2d8;
}

.call-to-action-sign-up-button {
  background-color: #3882F6;
  border: 2px solid white;
  border-radius: 10px;
  width: 120px;
  height: 30px;
  
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 15px
}

/* FOOTER SECTION */
.footer-container {
  padding: 35px 0 35px 0;
  background-color: #1F2937;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #c1c4cb;
}