html, body {
  margin:0;
  padding:0;
}

ul {
  list-style-type: none;
  display: flex;

}

a {
  text-decoration: none;
  color: #d3d3d3ce;
  margin: 0;
  padding: 16px 0px 16px 16px;
  font-style: italic
}

h1, h2 {
  color: white;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 40px;
  font-weight: 900;
}

h1, h2, div {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

/* CONTAINER SECTION: 
These add the width and the centering of every section */
.header,
.intro-container,
.picture-section-container,
.quote,
.call-to-action,
.footer {
  width: 71%;
  margin: auto;
}

/* HEADER AND INTRO SECTION */
.header-and-intro {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 450px;
}

.intro-container {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0 60px 0;
  gap: 30px;
  min-width: 450px;
}

.intro-elements {
  display: flex;
  flex: 1 1 auto;
}

.intro-informational {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  /*min-width: 250px;*/
}

.intro-informational div {
  font-size: 18px;
  color: #ccced3;
}

.intro-img {
  height: 240px;
  width: 90%;
  border-radius: 10px;
  min-width: 0;
}

.intro-buttons {
  display: flex;
  gap: 10px;
}

.intro-button {
  background-color: #3882F6;
  color: white;
  font-size: 18px;
  width: 150px;
  height: 30px;
  border-radius: 8px;  
  border: 0px;
}

/* PICTURE SECTION */
.picture-section {
  padding: 30px 0 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.pictures {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px;
}

.picture-information {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  min-width: 405px;
}

.picture img {
  width: 180px;
  height: 180px;
  border: 2px solid #1F2937;
  border-radius: 15px;
}

.pictures .picture div {
  padding-top: 5px;
  text-align: center;
  font-style: italic
}

/* QUOTE SECTION */
.quote-container {
  background-color: #E5E7EB;
}

.quote {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 100px 60px 80px 60px; 
  width: 50%;

  font-size: 30px;
  font-style: italic;
  font-weight: 100;
  color: #1F2937
}

.quoted-person {
  margin-left: auto;
  padding-right: 40px;
  font-size: 20px;
  font-weight: bold;
}

/* CALL-TO-ACTION SECTION */
.call-to-action {
  display: flex;
  justify-content: space-evenly;
}

.call-to-action-box {
  width: 100%;
  margin: 40px 0 40px 0;
  padding: 50px 30px 50px 30px;
  background-color: #3882F6;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px; 
  min-width: 380px;
  gap: 30px;  
}

.call-to-action .urge {
  font-size: 18px;
  font-weight: bold
}

.call-to-action .urge-subtext {
  color: #d0d2d8;
}

.call-to-action-sign-up-button {
  background-color: #3882F6;
  border: 2px solid white;
  border-radius: 10px;
  width: 120px;
  height: 30px;
  min-width: 70px;
  
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 15px
}

/* FOOTER SECTION */
.footer-container {
  padding: 35px 0 35px 0;
  background-color: #1F2937;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c1c4cb;
}